<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>D Signup Page</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="/css/style.css"> -->
  <nav class="navbar two navbar-default" style="background-color: #F7ECDE ; padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;">
    <div class="container" >
      <div class="navbar-header ">
        <p class="navbar-brand " style="font-size:2rem;color: black ; font-style: bold ;">Daily Startups</p>
      </div>
        <ul class="nav navbar-nav three navbar-right">
          <li id="home" ><a href="/" >HOME</a></li>
          <li id="about"><a href="/blog"  >BLOG</a></li>
          <li id="about"><a href="/compose"  >COMPOSE</a></li>
          <li id="contact"><a href="/contact" >CONTACT</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
