/* Navbar-Section */



.container-fluid{
    background-color: #9FC088;
    padding-left: 10%;
}

.navbar{
    padding: 1% 0% 1% 0%;
}

.navbar-brand{
    color: white;
    font-size: 2.5rem;
}

.navbar-nav{
    margin-left: 45%;
}

.nav-item{
    padding: 0px 8px;
}

.nav-link{
    color: #F7FBFC;
    font-size: 1.2rem;
}

.nav-link:hover {
  color: #614124 ;
}

h1{
    font-size: 8rem;
    color: red;
    font-family: 'Staatliches', cursive;
}

body {
    background-color: rgb(255, 255, 255);
}

}

.mbar {
    padding: 0 10px;
    font-family: 'Montserrat';
    font-size: 20px;
    counter-reset: #000;
}

.BackgroundImage{
  width: 133.19%;
  height: 70%;
}

.container{
    padding: 0%;
    margin: 0;
    position: relative;
}


.bigheading{
    position: absolute;
    top: 50%;
    left: 33%;
}


h2 {
    font-family: 'Mochiy Pop One';
    font-size: 2rem;
}

h3 {
    font-family: 'Sacramento';
    font-weight: bold;
    font-size: 2rem;
}

@media (max-width:900px) {
    h3 {
        font-family: 'Sacramento';
        font-weight: bold;
        font-size: 2rem;
        color: rgb(255, 1, 1);
    }
}

p {
    color: #8f8f8f;
}

/* Features-Section */

#features {
    padding: 7% 15%;
    text-align: center;
}

.feature-box {
    padding: 20px 90px;
}

.feature-box-m {
    padding: 20px 41px;
}

.icon {
    color: #ef8172;
    padding-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testomonial-Section */

#testimonials {
    background-color: #A27B5C ;
    color: #fff;
    text-align: center;
}

.a {
    width: 15%;
    border-radius: 50%;
    margin: 20px;
}

.b {
    width: 20%;
    border-radius: 50%;
    margin: 20px;
}

.c {
    width: 17%;
    border-radius: 50%;
    margin: 20px;
}

.d {
    width: 20%;
    border-radius: 50%;
    margin: 20px;
}

.e {
    width: 15%;
    border-radius: 50%;
    margin: 20px;
}

/* carousels */

.carousel-testimonials {
  margin-bottom: 10% ;
}

.carousel-item {
    padding: 7% 15%;
}

.c-strays {
    color: #fff;
    font-family: 'Sacramento';
    font-size: 4.1rem;
}

/* account */

#p {
    font-family: 'Mochiy Pop One';
    font-size: 2rem;
    color: #fff;
}

.tm {
  font-family: 'Sacramento';
  font-weight: bold;
  font-size: 2rem;
  padding: 7% auto ;
}

#account {
    background-image: url('https://c0.wallpaperflare.com/preview/811/935/645/adults-analysis-brainstorming-collaboration.jpg');
    padding: 50px 0px;

}

#p-interin {
  font-family: 'Mochiy Pop One';
  font-size: 2rem;
  color: black;
}

.container-account {
  padding: 20px;
  margin-left: 10%;
}

.twit {
  padding: 7px 0px;
}

.twitt {
  margin-bottom: 20px ;
}

/* footer  */

#footer {
    text-align: center;
}

#git {
    margin: 5% 0% 5% 0% ;
}
.contact-btn {
    border-style: solid;
    border-color: #000;
}


.contact {
  margin: 50px 0px ;
  margin: 50px 0px ;
  background: #A27B5C;
  background-image: -webkit-linear-gradient(top, #A27B5C, #bfa795);
  background-image: -moz-linear-gradient(top, #A27B5C, #bfa795);
  background-image: -ms-linear-gradient(top, #A27B5C, #bfa795);
  background-image: -o-linear-gradient(top, #A27B5C, #bfa795);
  background-image: linear-gradient(to bottom, #A27B5C, #bfa795);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contact:hover {
  background: #614124;
  background-image: -webkit-linear-gradient(top, #614124, #A27B5C);
  background-image: -moz-linear-gradient(top, #614124, #A27B5C);
  background-image: -ms-linear-gradient(top, #614124, #A27B5C);
  background-image: -o-linear-gradient(top, #614124, #A27B5C);
  background-image: linear-gradient(to bottom, #614124, #A27B5C);
  text-decoration: none;
}


.btn:hover {
    background: #cb38f0;
    background-image: -webkit-linear-gradient(top, #cb38f0, #f2f2f2);
    background-image: -moz-linear-gradient(top, #cb38f0, #f2f2f2);
    background-image: -ms-linear-gradient(top, #cb38f0, #f2f2f2);
    background-image: -o-linear-gradient(top, #cb38f0, #f2f2f2);
    background-image: linear-gradient(to bottom, #cb38f0, #f2f2f2);
    text-decoration: none;
}

.bottom-container {
    background-color: #9FC088;
    padding: 7% 15%;
}

.flatic {
  width: 20px;
}

.flati {
  padding: 10px 7px;
  margin-right: 10px;
  width: 20px ;
}

.footer-link  {
    color: #614124 ;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
}

.copyright {
    margin-top: 20px;
    color: #ffffff;
    font-size: .75rem;
}

/* subscriptionpage */


#pricing{
    padding: 5% 5%;
    text-align: center;
}

.btn-3{
    border-color: #769FCD;
}

.btn-3:hover{
    background-color: #769FCD;
    color: white;
}


.icons{
    margin: 20px 10px;
}

/* payment */

.pay {
  font-size: 50px;
  color: #fff;
}

#checkoutform {
  margin: 7% 20%;
  padding: 3% 5%;
  border-style: solid;
  /* text-align: center; */
}

.sp{
  margin-left: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.f {
  margin-top: 20px;
  margin-bottom: 20px;

}


/* INVERSTORS */

.Finance{
    width: 100%;
}
.page-section {
    padding: 6rem 0;
  }
  .page-section h2.section-heading, .page-section .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .page-section h3.section-subheading, .page-section .section-subheading.h3 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
  }

  .container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}


.finance {
    position: relative;
    padding: 0;
    list-style: none;
  }
  .finance:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
  }
  .finance > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
  }
  .finance > li:after, .finance > li:before {
    display: table;
    content: " ";
  }
  .finance > li:after {
    clear: both;
  }
  .finance > li .finance-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  .finance > li .finance-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .finance > li .finance-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  .finance > li .finance-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 120px;
    height: 120px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 0%;
    background-color: #614124;
  }
  .finance > li .finance-image h4, .finance > li .finance-image .h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
  }
  .finance > li.finance-inverted > .finance-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  .finance > li.finance-inverted > .finance-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  .timeline > li:last-child {
    margin-bottom: 0;
  }
  .timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
    margin-top: 0;
    color: inherit;
  }
  .timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
    text-transform: none;
  }
  .timeline .timeline-body > ul,
  .timeline .timeline-body > p {
    margin-bottom: 0;
  }
  
  @media (min-width: 768px) {
    .timeline:before {
      left: 50%;
    }
    .timeline > li {
      min-height: 100px;
      margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
    }
  }
  @media (min-width: 992px) {
    .timeline > li {
      min-height: 150px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px;
    }
  }
  @media (min-width: 1200px) {
    .timeline > li {
      min-height: 170px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px;
    }
  }

  .hr-image{
    width: 100%;
  }

  .hr-consultancy{
    margin: 5% 5%;
  }

  .hr-text{
    margin: 5% 5%;
    text-align: center;
  }

  /* Buisness */

  .buisness{
    margin: 7% 5% 5% 5%;
    text-align: center;
  }

  .buisness-img{
    width: 100%;
  }

  .buisness-blocks{
    padding: 0% 3%;
  }

  .card-img-top{
    width: 30%;
    padding: 5%;
  }


/* ABOUT US */

.aboutUs{
    text-align: left;
    padding: 5% 5%;
}